vendor/

wp-admin/
wp-content/languages
wp-content/plugins
wp-content/themes/twentyseventeen
wp-includes/

wp-a*
wp-b*
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-l*
wp-m*
wp-s*
wp-t*

.env
readme.html
xmlrpc.php
